include gc_page
mixin a_gc_page_ru(react_app_path, en_link, ru_link)
    -
      var l10n = {
        langCode: "ru",
        title: "Kazakh Verb Dictionary",
        description: "Платформа для создания казахско-русско-английского словаря",
        linkLanding: "/gc_landing_ru.pug",
        contactUs: "Наши контакты:",
        tgChannel: "Группа Telegram",
        titleGcSearch: "Поиск перевода",
        linkGcSearch: "/gc_search_ru.pug",
        titleGcCreate: "Создать перевод",
        linkGcCreate: "/gc_create_ru.pug",
        titleGcReviews: "Список ревью",
        linkGcReviews: "/gc_reviews_ru.pug",
        titleGcFeed: "Недавние обновления",
        linkGcFeed: "/gc_feed_ru.pug",
        firstLangLink: en_link,
        firstLang: "ENG",
        secondLangLink: ru_link,
        secondLang: "РУС",
        titleGcLogout: "Выйти",
        linkGcLogout: "/login_ru.pug?logout=1",
      }
    +a_gc_page(l10n, react_app_path)
        block