include gc_page
mixin a_gc_page_en(react_app_path, en_link, ru_link)
    -
      var l10n = {
        langCode: "en",
        title: "Kazakh Verb Dictionary",
        description: "The platform for Kazakh-Russian-English dictionary creation",
        linkLanding: "/gc_landing_en.pug",
        contactUs: "Contact us:",
        tgGroup: "Telegram group",
        titleGcSearch: "Translation lookup",
        linkGcSearch: "/gc_search_en.pug",
        titleGcCreate: "Create translation",
        linkGcCreate: "/gc_create_en.pug",
        titleGcReviews: "Review list",
        linkGcReviews: "/gc_reviews_en.pug",
        titleGcFeed: "Recent updates",
        linkGcFeed: "/gc_feed_en.pug",
        firstLangLink: en_link,
        firstLang: "ENG",
        secondLangLink: ru_link,
        secondLang: "РУС",
      }
    +a_gc_page(l10n, react_app_path)
        block