mixin a_viewer_page(title, lang_code, description, l10n, contact_us, yt_channel, tg_group, powered, js_path, cur_lang, other_lang, third_lang, other_lang_link, third_lang_link)
    doctype html
    html(lang= lang_code)
        head
            meta(charset="utf8")
            meta(property="og:title", content= title)
            meta(property="og:description", content= description)
            meta(property="og:site_name", content= title)
            title= title
            link(rel="stylesheet", href="../css/page.pcss")
            link(rel="icon", href="../images/favicon.png", type="image/png")
        body
            div.page-grid
                header(class="bg-blue-800 text-white p-1 flex justify-between")
                    div(class="ml-2 md:mx-8 my-1 flex")
                        div(class="pr-2")
                            button(id="ham_btn")
                                img(class="ham_icon", src="../images/menu.svg")
                            div(id="ham_menu_content", class="absolute z-50 hidden")
                                a(href= l10n.linkAbout)
                                    button(class="bg-blue-800 border-2 border-gray-300 text-4xl lg:text-2xl py-1 px-2")
                                        = l10n.titleAbout
                        div
                            a(class="text-4xl lg:text-2xl text-bold", href="?")
                                = title
                                <sup class="text-red-400">β</sup>
                            p(class="invisible lg:visible text-xs lg:text-sm text-yellow-300")
                                = description
                    div(class="relative mr-2 md:mx-8 my-1 py-3 md:py-2")
                        button(id="lang_switcher_btn", class="bg-blue-800 border-2 border-yellow-300 text-2xl lg:text-xl py-1 px-2")
                            = cur_lang
                        div(id="lang_switcher_content", class="absolute hidden")
                            a(href= other_lang_link)
                                button(class="bg-blue-800 border-2 border-gray-300 text-2xl lg:text-xl py-1 px-2")
                                    = other_lang
                            a(href= third_lang_link)
                                button(class="bg-blue-800 border-2 border-gray-300 text-2xl lg:text-xl py-1 px-2")
                                    = third_lang
                article
                    block
                footer(class="bg-blue-800 text-white flex justify-between")
                    span © 2023-2024 Murat Khairulin
                    div(class="flex")
                        span(class="text-xl md:text-sm")
                            = contact_us
                        a(class="mx-2 text-red-200 text-xl md:text-sm underline", href="https://www.youtube.com/@KazakhVerb", target="_blank")
                            = yt_channel
                        span |
                        a(class="mx-2 text-red-200 text-xl md:text-sm underline", href="https://t.me/kazakhverb", target="_blank")
                            = tg_group
                    span(class="flex flex-col")
                        a(class="text-sm", href="https://github.com/mxwell/aspan")
                            = powered
            script(src= js_path)
            noscript() The web page requires Javascript enabled in the browser to work
