include viewer_page
mixin a_viewer_page_ru(react_app_path)
    -
      var l10n = {
        langCode: "ru",
        title: "Kazakh Verb",
        description: "Таблицы форм казахских глаголов – времена и наклонения",
        contactUs: "Наши контакты:",
        ytChannel: "Канал Youtube",
        tgChannel: "Канал Telegram",
        powered: "Работает на Aspan",
        firstLang: "РУС",
        secondLang: "ENG",
        thirdLang: "ҚАЗ",
        firstRoot: "/",
        secondRoot: "/en",
        thirdRoot: "/kk",
        titleVerbDetector: "Определитель глагола",
        linkVerbDetector: "./verb_detector_ru.pug",
        titleDeclension: "Склонение",
        linkDeclension: "./declension_ru.pug",
        titleTextAnalyzer: "Анализатор текста",
        linkTextAnalyzer: "./text_analyzer_ru.pug",
        titleTop100Verbs: "Топ-100 глаголов",
        linkTop100Verbs: "./present_top_ru.pug",
        titleGym: "Тренажёрка",
        linkGym: "./verb_gym_ru.pug",
        titlePosts: "Posts",
        linkPosts: "/en/posts/",
        titleDict: "Казахско-русский словарь",
        linkDict: "/dict_ru.pug",
        titleAbout: "О сайте",
        linkAbout: "./about_ru.pug",
      }
    +a_viewer_page(l10n, react_app_path)
        block