include viewer_page
mixin a_viewer_page_en(react_app_path)
    -
      var l10n = {
        langCode: "en",
        title: "Kazakh Verb",
        description: "Tables of Kazakh verb forms, tenses and moods",
        contactUs: "Contact us:",
        ytChannel: "Youtube channel",
        tgChannel: "Telegram channel",
        powered: "Powered by Aspan",
        firstLang: "ENG",
        secondLang: "РУС",
        thirdLang: "ҚАЗ",
        firstRoot: "/en",
        secondRoot: "/",
        thirdRoot: "/kk",
        titleVerbDetector: "Verb detector",
        linkVerbDetector: "./verb_detector_en.pug",
        titleDeclension: "Declension",
        linkDeclension: "./declension_en.pug",
        titleTextAnalyzer: "Text analyzer",
        linkTextAnalyzer: "./text_analyzer_en.pug",
        titleTop100Verbs: "Top-100 verbs",
        linkTop100Verbs: "./present_top_en.pug",
        titleGym: "Gym",
        linkGym: "./verb_gym_en.pug",
        titlePosts: "Posts",
        linkPosts: "/en/posts/",
        titleDict: "Kazakh-Russian Dictionary",
        linkDict: "/dict_en.pug",
        titleAbout: "About",
        linkAbout: "./about_en.pug",
      }
    +a_viewer_page(l10n, react_app_path)
        block