include viewer_page
mixin a_viewer_page_kk()
    -
      var l10n = {
        langCode: "kk",
        title: "Kazakh Verb",
        description: "Қазақ етістіктерінің кестесі",
        contactUs: "Байланыс:",
        ytChannel: "Youtube арнамыз",
        tgGroup: "Telegram тобымыз",
        powered: "Aspan арқылы жұмыс істейді",
        firstLang: "ҚАЗ",
        secondLang: "РУС",
        thirdLang: "ENG",
        firstRoot: "/kk",
        secondRoot: "/",
        thirdRoot: "/en",
        titleVerbDetector: "Verb detector",
        linkVerbDetector: "./verb_detector_en.pug",
        titleTop100Verbs: "Top-100 verbs",
        linkTop100Verbs: "./present_top_en.pug",
        titleAbout: "About",
        linkAbout: "./about_kk.pug",
      }
    +a_viewer_page(l10n, "../javascripts/viewer_kk.jsx")
        block