include viewer_page
mixin a_viewer_page_ru(react_app_path)
    -
      var l10n = {
        langCode: "ru",
        title: "Kazakh Verb",
        description: "Инструменты казахского языка",
        contactUs: "Наши контакты:",
        ytChannel: "Канал Youtube",
        tgChannel: "Канал Telegram",
        firstLang: "РУС",
        secondLang: "ENG",
        thirdLang: "ҚАЗ",
        firstRoot: "/",
        secondRoot: "/en",
        thirdRoot: "/kk",
        titleConjugation: "Спряжение",
        linkConjugation: "/",
        titleDeclension: "Склонение",
        linkDeclension: "./declension_ru.pug",
        titleTextAnalyzer: "Анализатор текста",
        linkTextAnalyzer: "./text_analyzer_ru.pug",
        titleTop100Verbs: "Топ-100 глаголов",
        linkTop100Verbs: "./present_top_ru.pug",
        titleGym: "Тренажёрка",
        linkGym: "./verb_gym_ru.pug",
        titlePosts: "Posts",
        linkPosts: "/en/posts/",
        titleDict: "Добавление переводов",
        linkDict: "/gc_landing_ru.pug",
        titleAbout: "О сайте",
        linkAbout: "./about_ru.pug",
        imgGooglePlay: "../images/google_play_en.png",
        linkGooglePlay: "https://play.google.com/store/apps/details?id=com.khairulin.kazakhverb",
      }
    +a_viewer_page(l10n, react_app_path)
        block