include partials/gc_page_ru
+a_gc_page_ru("../javascripts/empty.jsx")
    div(class="m-4 px-10")
        h1(class="my-2 text-4xl text-gray-600") Описание Kazakh Verb Dictionary
        p Документ описывает сервис в разработке, находящийся по адресу
            a(class="px-1 text-green-600 underline", href="https://kazakhverb.khairulin.com/gc_landing_ru.html") https://kazakhverb.khairulin.com/gc_landing_ru.html.

        h2(class="my-2 text-3xl text-gray-600") Мотивация
        p При разработке сайта Kazakh Verb возникали сложности из-за недоступности открытых словарных данных. Данный проект пытается решить эту проблему, чтобы упростить разработку сервисов и приложений для казахского языка в будущем.

        h2(class="my-2 text-3xl text-gray-600") Цель
        p Для этого нужен набор данных, включающий много казахских слов с разметкой и переводами на другие языки. Набор данных должен быть общедоступным, свободным для использования и иметь механизм добавления и исправления данных. Им должно быть легко пользоваться как обычным пользователям, так и исследователям и разработчикам.

        h2(class="my-2 text-3xl text-gray-600") Реализация
        p Сервис Kazakh Verb Dictionary позволяет пользователям регистрироваться и участвовать в добавлении и исправлении данных. Данные включают в себя слова казахского языка и их переводы на русский и английский языки.

        h3(class="my-2 text-2xl text-gray-700") Модель данных
        h4(class="my-2 italic text-xl") Слово
        p У каждого слова в базе данных сервиса размечены язык и часть речи, а для казахских глаголов также может быть отметка в случае особого спряжения. Для слов сохраняются авторы. К слову можно добавить комментарий, например, в случае омонимов. Изолированные слова не экспортируются и не видны пользователям, но могут предлагаться при добавлении переводов.

        h4(class="my-2 italic text-xl") Перевод
        p
            span Перевод — это связь между двумя словами разных языков. Подразумевается, что связь двунаправленная, т.е. связь
            span(class="mx-2 p-1 border-2 bg-gray-100 rounded") {kk:алма, en:apple}
            span означает, что "алма" переводится как "apple", а также "apple" переводится как "алма". Для перевода также сохраняется автор, добавивший его. У перевода можно указать источник. Перевод экспортируется и показывается пользователям как пара слов, которые он соединяет.

        h4(class="my-2 italic text-xl") Пользователь
        p Сущность, которая хранит данные для регистрации и входа пользователей. В словах и переводах сохраняется указание на запись пользователя, как на автора.

        h3(class="my-2 text-2xl text-gray-700") Ревью
        p Чтобы поддерживать качество разметки, каждый добавленный перевод должен проходить ревью, т.е. проверку другими пользователями. Перевод считается проверенным, если как минимум заданное число других пользователей подтвердили его корректность. Также перевод может быть отклонён. Обработку отклонённых переводов ещё предстоит проработать более подробно.

        h4(class="my-2 italic text-xl") Очередь ревью
        p Добавленные переводы попадают в общую очередь на ревью, которая отображается на сайте сервиса. Пользователи могут выбирать переводы и подтверждать или отклонять их. Чтобы ограничить рост очереди, при достижении предельного размера добавление новых переводов запрещается, пока очередь на ревью не уменьшится.

        h3(class="my-2 text-2xl text-gray-700") Геймификация
        p За участие в добавлении переводов и их ревью пользователи получают баллы. Сумма баллов отображается в профиле пользователя. Также на сайте отображается доска лидеров по сумме баллов за всё время и за недавний период в несколько дней.

        h3(class="my-2 text-2xl text-gray-700") Экспорт
        p Приблизительно раз в месяц публикуется срез базы данных с подтверждёнными переводами в формате JSON Lines. Лицензия данных экспорта — CC-BY-4.0. При использовании данных желательна, но необязательна ссылка на проект Kazakh Verb Dictionary.
        p В случае закрытия проекта финальный экспорт будет опубликован в
            a(class="px-1 text-green-600 underline", href="https://github.com/mxwell/aspan") репозитории проекта
            span на Github.

        h3(class="my-2 text-2xl text-gray-700") Финансирование
        p
            span Расходы на инфраструктуру оплачиваются автором при условии, что они не превышают заданный месячный порог.
