include partials/gc_page_ru
+a_gc_page_ru("../javascripts/gc_description.jsx", "/gc_description_en.pug", "/gc_description_ru.pug")
    div(class="m-4 px-10")
        h1(class="my-2 text-4xl text-gray-600") Описание Kazakh Verb Dictionary
        p Документ описывает сервис в разработке, находящийся по адресу
            a(class="px-1 text-green-600 underline", href="https://kazakhverb.khairulin.com/gc_landing_ru.html") https://kazakhverb.khairulin.com/gc_landing_ru.html.

        h2(class="my-2 text-3xl text-gray-600") Мотивация
        p Доступные словарные данные понизят порог входа при создании новых сервисов и приложений для казахского языка.

        h2(class="my-2 text-3xl text-gray-600") Цель
        p Цель проекта — создать набор данных, покрывающий все слова казахского языка с переводами на русский и английский языки. Слова могут иметь дополнительную разметку, например, части речи. Набор данных должен быть общедоступным, свободным для использования и иметь механизм добавления и исправления данных.

        h2(class="my-2 text-3xl text-gray-600") Реализация
        p Сервис Kazakh Verb Dictionary позволяет пользователям регистрироваться и участвовать в добавлении и исправлении данных.

        h3(class="my-2 text-2xl text-gray-700") Модель данных
        h4(class="my-2 italic text-xl") Слово
        p У каждого слова в базе данных сервиса размечены язык и часть речи, а для казахских глаголов также может быть отметка в случае особого спряжения. Для слов сохраняются авторы. К слову можно добавить комментарий, например, в случае омонимов. Изолированные слова не экспортируются и не видны пользователям, но могут предлагаться при добавлении переводов.

        h4(class="my-2 italic text-xl") Перевод
        p
            span Перевод — это связь между двумя словами разных языков. Подразумевается, что связь двунаправленная, т.е. связь
            span(class="mx-2 p-1 border-2 bg-gray-100 rounded") {kk:алма, en:apple}
            span означает, что "алма" переводится как "apple", а также "apple" переводится как "алма". Для перевода также сохраняется автор, добавивший его. У перевода можно указать источник. Перевод экспортируется и показывается пользователям как пара слов, которые он соединяет.

        h4(class="my-2 italic text-xl") Пользователь
        p Сущность, которая хранит данные для регистрации и входа пользователей. В словах и переводах сохраняется указание на запись пользователя, как на автора.

        h3(class="my-2 text-2xl text-gray-700") Ревью
        p Чтобы поддерживать качество разметки, каждый добавленный перевод должен проходить ревью, т.е. проверку другими пользователями. Перевод считается проверенным, если как минимум заданное число других пользователей подтвердили его корректность. Сейчас требуется подтверждение как минимум от 2 пользователей. Также перевод может быть отклонён. Обработку отклонённых переводов ещё предстоит проработать более подробно.

        img(src="../images/review_stages_ru.png")

        h4(class="my-2 italic text-xl") Очередь ревью
        p Добавленные переводы попадают в общую очередь на ревью, которая отображается на сайте сервиса. Пользователи могут выбирать переводы и подтверждать или отклонять их. Чтобы ограничить рост очереди, при достижении предельного размера добавление новых переводов запрещается, пока очередь на ревью не уменьшится.

        h3(class="my-2 text-2xl text-gray-700") Геймификация
        p На основании участия в добавлении переводов и их ревью расчитывается вклад пользователей. На сайте отображается таблица участников с наибольшим вкладом за всё время и за неделю.

        h3(class="my-2 text-2xl text-gray-700") Экспорт
        p Приблизительно раз в месяц публикуется срез базы данных с подтверждёнными переводами в формате JSON Lines. Лицензия данных экспорта — CC-BY-4.0. При использовании данных желательна, но необязательна ссылка на проект Kazakh Verb Dictionary.
        p В случае закрытия проекта финальный экспорт будет опубликован в
            a(class="px-1 text-green-600 underline", href="https://github.com/mxwell/aspan") репозитории проекта
            span на Github.

        h3(class="my-2 text-2xl text-gray-700") Финансирование
        p
            span Автор самостоятельно покрывает расходы на инфраструктуру проекта в пределах установленного месячного лимита.
