include partials/gc_page_ru
+a_gc_page_ru("../javascripts/empty.jsx")
    div(class="lg:w-full flex flex-row justify-center")
        div(class="my-10 lg:w-1/2")
            h1(class="text-5xl text-gray-700 text-center")
                span Создаем
                span(class="mx-2 p-4 bg-yellow-300 rounded-2xl") вместе
            h1(class="text-5xl text-gray-700 text-center") казахско-русско-английский словарь
            h2(class="my-4 text-3xl text-gray-600 text-center") Открытый проект для поддержки казахского языка
            div(class="my-6 flex flex-row justify-center")
                a(href="/login_ru.pug")
                    button(class="btn-gradient bg-blue-500 hover:bg-blue-700 mx-2 px-6 py-2 text-white text-3xl rounded-2xl focus:outline-none focus:shadow-outline flex flex-row") Присоединиться