include partials/viewer_page_en
+a_viewer_page_en("../javascripts/empty.jsx")
    div(class="m-4 text-xl")
        h1(class="m-2 p-4 text-4xl") Posts
        a(href="/en/posts/llm_vocab.html")
            div(class="flex flex-row")
                span(class="italic px-4") 2024-10-05
                span Benchmarking LLM Knowledge of Kazakh Vocabulary
        a(href="/en/posts/dict_bench.html")
            div(class="flex flex-row")
                span(class="italic px-4") 2024-11-24
                span Benchmarking Kazakh-Language Dictionary Coverage
