include partials/viewer_page
+a_viewer_page("Kazakh Verb", "Қазақ етістіктерінің кестесі", "Байланыс:", "Youtube арнамыз", "Telegram тобымыз", "Aspan арқылы жұмыс істейді", "../javascripts/viewer_kk.jsx", "ҚАЗ", "РУС", "ENG", "/", "/en")
    div#viewer_root(class="md:flex md:justify-center")
