include partials/viewer_page
-
  var l10n = {
    titleAbout: "About",
    linkAbout: "./kk/about.pug",
  }
+a_viewer_page("Kazakh Verb", "kk", "Қазақ етістіктерінің кестесі", l10n, "Байланыс:", "Youtube арнамыз", "Telegram тобымыз", "Aspan арқылы жұмыс істейді", "../javascripts/viewer_kk.jsx", "ҚАЗ", "РУС", "ENG", "/", "/en")
    div#viewer_root(class="md:flex md:justify-center")
