mixin a_page(title)
    doctype html
    html(lang="en")
        head
            meta(charset="utf8")
            meta(property="og:title", content= title)
            meta(property="og:description", content="Viewer for Kazakh verb forms")
            meta(property="og:site_name", content="Kazakh verbs")
            title= title
            link(rel="stylesheet", href="../css/page.pcss")
            link(rel="icon", href="../images/favicon.png")
        body
            div.page-grid
                header(class="bg-blue-800 text-white p-2 flex justify-between")
                    h2(class="text-3xl text-bold mx-8") Kazakh Verbs<sup class="pl-2 text-red-400">α</sup>
                    a(class="text-red-200 text-sm underline", href="/quiz.pug", target="_blank") Kazakh Grammar Trainer >
                article
                    block
                footer(class="bg-blue-800 text-white flex justify-between")
                    span © 2022 Murat Khairulin
                    span(class="flex flex-col")
                        a(class="text-sm", href="https://github.com/mxwell/aspan-trainer") Github
            script(src="../javascripts/viewer.jsx")
            noscript() The web page requires Javascript enabled in the browser to work

+a_page("Verb forms | Viewer")
    div#viewer_root(class="flex justify-center")
