include partials/viewer_page
+a_viewer_page("Kazakh Verb", "Tables of Kazakh verb forms, tenses and moods", "Contact us:", "Youtube channel", "Telegram group", "Powered by Aspan", "../javascripts/viewer_en.jsx", "ENG", "РУС", "/")
    div#viewer_root(class="md:flex md:justify-center")
