include partials/viewer_page
+a_viewer_page("Kazakh Verb", "Таблицы форм казахских глаголов – времена и наклонения", "Наши контакты:", "Канал Youtube", "Группа Telegram", "Работает на Aspan", "../javascripts/viewer.jsx", "РУС", "ENG", "ҚАЗ", "/en", "/kk")
    div#viewer_root(class="md:flex md:justify-center")
