doctype html
html(lang= lang_code)
    head
        meta(charset="utf8")
        meta(property="og:title", content= title)
        meta(property="og:description", content= description)
        meta(property="og:site_name", content= title)
        title= title
        link(rel="stylesheet", href="../../css/page.pcss")
        link(rel="icon", href="../../images/favicon.png", type="image/png")
    body
        div
            p About the site